.input {
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  opacity: 0;
}

.label {
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: opacity 0.1s ease-in-out;
}

.label:hover {
  opacity: 0.8;
}

.label::before {
  content: '';
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border: 1px solid var(--color-indigo);
  border-radius: 8px;
  margin-right: 10px;
  width: 25px;
  height: 25px;
  font-family: 'Times', 'Times New Roman', 'serif', 'sans-serif', system-ui, -apple-system, BlinkMacSystemFont,
    'Avenir Next', 'Avenir', 'Segoe UI', 'Lucida Grande', 'Helvetica Neue', 'Helvetica', 'Fira Sans', 'Roboto', 'Noto',
    'Droid Sans', 'Cantarell', 'Oxygen', 'Ubuntu', 'Franklin Gothic Medium', 'Century Gothic', 'Liberation Sans',
    sans-serif, 'EmojiSymbols';
  font-weight: bold;
  color: #fff;
  transition: all 0.1s ease-in-out;
}

.input:checked + .label {
  /* color: #2c3e5073; */
  opacity: 0.5;
}

.input:checked + .label::before {
  border-color: var(--blue-magenta);
  background-color: var(--blue-magenta);
  content: '\2713';
}
